@import 'variables/variables';
@import 'assets/fonts/fonts';
@import 'mixins/breakpoints';
@import 'resets/resets';
@import 'text/text.scss';
@import 'components/button/button.scss';
@import 'components/card/card.scss';
@import 'components/footer/footer.scss';
@import 'components/header/header.scss';
@import 'components/heading/heading.scss';
@import 'components/layout/layout.scss';
@import 'components/primary-nav/primary-nav.scss';
@import 'components/secondary-nav/secondary-nav.scss';
@import 'components/submenu/submenu.scss';
@import 'components/input/text.scss';
@import 'components/blog/blog.scss';

strong, .bold {
  font-weight: 700;
}

.color-white {
  color: $color-white;
}

.centered-image {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.centered-text {
  text-align: center;
}