button, .link-button {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12);
  color: $color-white;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  outline: 0;
  padding: 8px 20px;
  text-decoration: none;

  &:active {
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.12);
  }

  &.bright-blue {
    background-color: $color-bright-blue;
    border-color: $color-bright-blue;
  }

  &.perm-blue {
    background-color: $color-perm-blue;
    border-color: $color-perm-blue;
  }

  &.salmon {
    background-color: $color-salmon;
    border-color: $color-salmon;

    &:hover {
      background-color: $color-red;
      border-color: $color-red;
    }
  }

  &.primary {
    background-color: $color-perm-blue;
    border-color: $color-perm-blue;

    &:hover {
      background-color: $color-mineral;
      border-color: $color-mineral;
    }
  }

  &.secondary {
    background-color: $color-salmon;
    border-color: $color-salmon;

    &:hover {
      background-color: $color-red;
      border-color: $color-red;
    }
  }

  &.minwidth {
    min-width: 200px;
    text-align: center;
  }

  &.knockout {
    background-color: $color-white;
    border-color: $color-perm-blue;
    color: $color-perm-blue;

    &:hover {
      color: $color-transparent;
      background-color: $color-off-white;
    }
  }

  &[disabled] {
    background-color: $color-concrete !important;
    border-color: $color-concrete !important;

    &:hover {
      background-color: $color-concrete !important;
      border-color: $color-concrete !important;
    } 
  }

  &.marketing {
    border-radius: 18px !important;
    margin: 0 auto;
    text-align: center;

    @include respond-to(tablet) {
      width: auto;
    }
  }
}