<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="image/png" href="favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<link href="/styles/permissionbase.css" type="text/css" rel="stylesheet">
	<title>Permission.io styleguide</title>
</head>
	<body>
			<button class="primary">Blue Primary</button>
			<br/><br/>
			<button class="secondary">Salmon Primary</button>
			<br/><br/>
			<button class="knockout">Knockout</button>
			<br/><br/>
			<button class="primary" disabled>Disabled</button>
			<br/><br/>
			<button class="primary">Multiple lines that span</button>
			<br/><br/>
			<button class="primary marketing">Primary Marketing Promo</button>
			<br/><br/>
			<button class="secondary marketing">Primary Marketing Promo</button>
			<br/><br/>
			<button class="knockout marketing">Knockout Marketing Promo</button>
			<br/><br/>
			<button class="marketing" disabled>Disabled Marketing Promo</button>
			<br/><br/>
			<div class="segment">
				<label></label>
				<radio></radio>
			</div>
		</body>
	</body>
</html>