$breakpoints: (
        'tablet'  : 767px,
        'desktop' : 1004px,
        'nav-collapse' : 1038px,
        'largedesktop': 1420px
);
@mixin respond-to($breakpoint) {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);

  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @media (min-width: $value) {
      @content;
    }
  }

    // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}
.s1{
  .video-hero {
    background: #000000;
    display: flex;
    position:relative;
    .hero-player-overlay {
      background: #000000;
      bottom:0;
      left:0;
      position:absolute;
      right:0;
      top:0;
      z-index:2;
      video {
        opacity: 0.5;
        width: 100vw;
      }
      .hero-player-content {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        background-position: center right;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        .hero-player-content-overlay {
          background: rgba(62,143,174,0.5);
          bottom: 0;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          .floating-text{
            flex-direction: column;
            display: flex;
            height: 100%;
            justify-content: flex-end;
            h2{
              margin-top: 31px;
              color: #FFFFFF;
              font-family: Poppins;
              font-size: 40px;
              font-weight: 300;
              letter-spacing: -1.2px;
              line-height: 44px;
              text-align: center;
              @include respond-to(tablet) {

              }
              @include respond-to(desktop) {

              }
              span{
                font-weight: 700;
              }
            }
            .play-icon {
              text-align: center;
              img{
                margin: 0 auto;
                cursor: pointer;
              }
            }
            .buttons {
              text-align: center;
              a {
                color: #FFFFFF;
                font-family: Poppins;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 20px;
                text-align: center;
                border-radius: 18px;
                background-color: #07AFF2;
                box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
                cursor: pointer;
                box-sizing: border-box;
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
                z-index:3;
                height: 38px;
                width: 200px;
                padding-top: 9px;
                margin-top: 47px;
              }
            }
            .social-icons{
              display: flex;
              justify-content: center;
              margin: 152px 0 31px;
              a {
                display: flex;
                color: #FFFFFF;
                font-family: Poppins;
                font-size: 12px;
                letter-spacing: 0.3px;
                line-height: 16px;
                margin-right: 73px;
                text-decoration: none;
                &:last-child{
                  margin-right: 0;
                }
                img{
                  padding-right: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.hero-player-content.fadein {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  -webkit-animation-fill-mode: forwards;
}
.hero-player-content.fadeout {
  -webkit-animation: fadeout 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 2s; /* Firefox < 16 */
  -ms-animation: fadeout 2s; /* Internet Explorer */
  -o-animation: fadeout 2s; /* Opera < 12.1 */
  animation: fadeout 2s;
  -webkit-animation-fill-mode: forwards;
}
.video-hero.slideup {
  -webkit-animation: blackboxslideup 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: blackboxslideup 1s; /* Firefox < 16 */
  -ms-animation: blackboxslideup 1s; /* Internet Explorer */
  -o-animation: blackboxslideup 1s; /* Opera < 12.1 */
  animation: blackboxslideup 1s;
  -webkit-animation-fill-mode: forwards;
}
@keyframes fadein {
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blackboxslideup {
  0% {
    height: 115vw;
  }

  100% {
    height: 56.25vw;
  }
}
@keyframes blackboxslidedown {
  0% {
    height: 56.25vw;
  }
  100% {
    height: 115vw;
  }
}

.s2{
  margin: 62px 0 33px;
  .columnar{
    .columns-twelve{
      .title{
        color: #0C0C0C;
        font-family: Poppins;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: -1.2px;
        line-height: 44px;
        text-align: center;
      }
      .sub-title{
        color: #0D0D0D;
        font-family: Poppins;
        font-size: 21px;
        letter-spacing: -0.2px;
        line-height: 31px;
        text-align: center;
        padding: 14px 12px 32px;
        font-weight: 400;
      }
    }
  }
  .tabs-home{
    .tabs__caption{
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      position: relative;
      justify-content: center;
      width: 390px;
      margin: auto;
      margin-bottom: 32px;
      border: 1px solid #07AFF2;
      border-radius: 4px;
      li{
        color: #07AFF2;
        font-family: Poppins;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 20px;
        text-align: center;
        width: 50%;
        height: 38px;
        padding-top: 8px;
        &:not(.active) {
          cursor: pointer;
        }
        /*&:not(.active):hover {
          background: #07AFF2;
          color: #ffffff;
        }*/
      }
      .active{
        background: #07AFF2;
        color: #ffffff;
      }
    }
    .columns-six{
      .tabs__content{
        display: none;
        .name{
          color: #0D0D0D;
          font-family: Poppins;
          font-size: 21px;
          letter-spacing: -0.2px;
          line-height: 31px;
          padding-bottom: 32px;
          font-weight: 400;
        }
        .content{
          color: #0D0D0D;
          font-family: Poppins;
          font-size: 18px;
          letter-spacing: -0.1px;
          line-height: 26px;
          padding-left: 24px;
          position: relative;
          padding-bottom: 40px;
          font-weight: 400;
          &:last-child{
            padding-bottom: 0px;
          }
          &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 8px;
            width: 15px;
            height: 11px;
            background-image: url("./assets/icons/CheckMark.svg");
          }
        }
      }
      .tabs__content.active {
        display: block;
        margin-bottom: 33px;
      }
      .buttons {
        a {
          color: #FFFFFF;
          font-family: Poppins;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 20px;
          text-align: center;
          border-radius: 18px;
          background-color: #FF5F58;
          box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
          cursor: pointer;
          box-sizing: border-box;
          display: inline-block;
          text-decoration: none;
          text-transform: uppercase;
          z-index:3;
          height: 38px;
          width: 200px;
          padding-top: 9px;
        }
      }
    }
    .columns-four-eight{
      grid-column: col-start 8/ span 5;
      @include respond-to(tablet) {
        grid-column: col-start 8/ span 5;
      }
      @include respond-to(desktop) {
        grid-column: col-start 8/ span 5;
      }
    }
  }
}




.s3{
  display: flex;
  .video-block{
    width: 50%;
    .permission-secondary-video{
      position:relative;
      .overlay{
        position: absolute;
        left: 0;
        top:0;
        bottom:0;
        right:0;
        background:url('/wp-content/uploads/2019/11/chrl.png') no-repeat;
        background-size: cover;
        background-position: center;
        .play-icon{
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
          img{
            width: 64px;
            height: 54px;
          }
        }
      }
    }
  }
  .text-block{
    width: 50%;
    background-color: #F2F2F2;
    position: relative;
    .text{
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      max-width: 376px;
      color: #0C0C0C;
      font-family: Poppins;
      font-size: 24px;
      letter-spacing: -0.3px;
      line-height: 28px;
      font-weight: 400;
    }
  }
}



.s4{
  margin: 62px 0 66px;
  .columnar{
    .columns-twelve{
      .title{
        color: #0C0C0C;
        font-family: Poppins;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: -1.2px;
        line-height: 44px;
        text-align: center;
      }
      .sub-title{
        color: #0D0D0D;
        font-family: Poppins;
        font-size: 21px;
        letter-spacing: -0.2px;
        line-height: 31px;
        text-align: center;
        padding: 14px 12px 32px;
        font-weight: 400;
        span{
          font-weight: 700;
        }
      }
    }
  }
  .content-wrapper{
    padding-bottom: 66px;
    .columns-five{
      grid-column: col-start/ span 5;
      .title-color{
        font-family: Poppins;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: -1.2px;
        line-height: 44px;
        padding: 22px 0 10px;
        color: #0C0C0C;
      }
      .color-blue{
        color: #00B5FB;
      }
      .color-orange{
        color: #FC8000;;
      }
      .text{
        color: #0D0D0D;
        font-family: Poppins;
        font-size: 18px;
        letter-spacing: -0.1px;
        line-height: 26px;
        padding-bottom: 17px;
        font-weight: 400;
      }
    }
    .columns-six-seven{
      grid-column: col-start 7/ span 6;
      img{
        width: 100%;
      }
    }
  }
  .text-bottom{
    color: #0D0D0D;
    font-family: Poppins;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    font-weight: 400;
    span{
      font-weight: 700;
    }
  }
}
.s5{
  background-color: #06AFF2;
  padding-top: 53px;
  .img-block{
    .text{
      color: #FFFFFF;
      font-family: Poppins;
      font-size: 33px;
      font-weight: 300;
      letter-spacing: -0.8px;
      line-height: 36px;
      padding-top: 27px;
      padding-bottom: 33px;
    }
    .img-wrap{
      margin-left: -130px;
    }
  }
  .columns-five-eight{
    text-align: right;
    grid-column: col-start 8/ span 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .text {
      margin-right: -130px;
      color: #FFFFFF;
      font-family: Poppins;
      font-size: 40px;
      font-weight: 400;
      line-height: 55px;
      text-align: right;
      span{
        font-weight: 700;
        letter-spacing: -1.2px;
      }
    }
    .img-wrap {
      display: flex;
      justify-content: flex-end;
    }
  }
}
.s6{
  padding-top: 73px;
  padding-bottom: 100px;
  .title{
    color: #0C0C0C;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -1.2px;
    line-height: 44px;
    text-align: center;
    padding-bottom: 75px;
    span{
      font-weight: 700;
    }
  }
  .content-wrapper{
    .columns-five-two{
      grid-column: col-start 2/ span 5;
    }
    .columns-four-eight{
      grid-column: col-start 8/ span 4;
      .sub-title{
        color: #0C0C0C;
        font-family: Poppins;
        font-size: 33px;
        font-weight: 300;
        letter-spacing: -0.8px;
        line-height: 36px;
        margin-bottom: 34px;
      }
      .text{
        color: #0D0D0D;
        font-family: Poppins;
        font-size: 18px;
        letter-spacing: -0.1px;
        line-height: 26px;
        font-weight: 400;
        padding-bottom: 44px;
        padding-left: 32px;
        position: relative;
        &::before{
          content: '';
          position: absolute;
          left: 0;
          top: 8px;
          width: 15px;
          height: 11px;
          background-image: url("./assets/icons/CheckMark.svg");
        }
        span{
          font-weight: 700;
        }
      }
      .buttons {
        a {
          color: #FFFFFF;
          font-family: Poppins;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 20px;
          text-align: center;
          border-radius: 18px;
          background-color: #FF5F58;
          box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
          cursor: pointer;
          box-sizing: border-box;
          display: inline-block;
          text-decoration: none;
          text-transform: uppercase;
          z-index:3;
          height: 38px;
          width: 200px;
          padding-top: 9px;
          margin-top: 11px;
        }
      }
    }
  }
}


.s7{
  padding: 73px 0;
  background-image: url("./assets/texture-home.png");
  background-size: cover;
  .home-col-wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: inherit;
    grid-row-gap: 24px;
    @include respond-to(tablet) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include respond-to(desktop) {
      grid-template-columns: repeat(3, 1fr);
    }
    .card-home{
      padding: 24px 24px 22px;
      display: block;
      .img-wrap {
        width: 100%;
        min-height: 65px;
        margin: auto;
        display: flex;
        img{
          margin: auto;
        }
      }
      .title{
        width: 100%;
        color: #0D0D0D;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.1px;
        line-height: 26px;
        text-align: center;
        margin: 20px 0 15px;
        span{
          font-weight: 700;
        }
      }
      .text{
        width: 100%;
        color: #0D0D0D;
        font-family: Poppins;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
        text-align: center;
        font-weight: 400;
        span{
          font-weight: 700;
        }
      }
    }
  }
}
.s8{
  padding: 100px 0 66px;
  background-image: url("./assets/green-cropped.png");
  background-size: cover;
  text-align: center;
  .title{
    font-family: Poppins;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -1.2px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 35px;
  }
  .buttons {
    a {
      color: #FFFFFF;
      font-family: Poppins;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 20px;
      text-align: center;
      border-radius: 18px;
      background-color: #FF5F58;
      box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
      cursor: pointer;
      box-sizing: border-box;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      z-index:3;
      height: 38px;
      width: 230px;
      padding-top: 9px;
      margin-top: 11px;
    }
  }
}













.s9{
  padding: 95px 0 60px;
  .permission-team {
    display: flex;
    .team-blurb {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      justify-content: flex-start;
      padding: 0 0 0 41px;
      width: 267px;
      margin-right: 104px;
      h3{
        color: #0C0C0C;
        font-family: Poppins;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: -1.2px;
        line-height: 44px;
        padding-bottom: 30px;
      }
      p{
        color: #0D0D0D;
        font-family: Poppins;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
        font-weight: 400;
        padding-bottom: 32px;
      }
      .navigation{
        display: flex;
        span{
          border: #379fc6 1px solid;
          border-radius: 0.1865rem;
          box-sizing: border-box;
          cursor: pointer;
          display: inline-block;
          font-size: 1.3125rem;
          line-height: 3.125rem;
          text-align: center;
          width: 3.125rem;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          &:nth-child(1) {
            margin: 0 10px 0 0;
          }
        }
      }
    }
    .team-container {
      display: flex;
      flex-grow: 1;
      overflow: hidden;
      padding:  0;
      figure {
        flex-grow: 0;
        flex-shrink: 0;
        margin: 0 86px 0 0;
        text-align: center;
        img {
          border: 1px solid #f4c38b;
          border-radius: 50%;
          height: 300px;
          width: 300px;
        }
        figcaption{
          text-align: center;
          h4{
            color: #000000;
            font-family: Poppins;
            font-size: 25px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 38px;
            text-align: center;
            margin: 59px 0 15px;
            max-width: 300px;
          }
          span{
            color: #000000;
            font-family: Poppins;
            font-size: 25px;
            font-weight: 200;
            letter-spacing: 0;
            line-height: 38px;
            text-align: center;
            max-width: 300px;
            display: block;
          }
        }
      }
      .spacer {
        min-width: 8rem;
      }
    }
  }
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .permission-team {
    flex-direction: column;
  }

  .permission-team figure {
    margin: 1.625rem 0 0 !important;
    width: 100%;
  }
  .permission-team .team-blurb {
    padding: 0 2em;
    width: 100%;
  }

  .permission-team .team-blurb p {
    margin-block-end: 2rem;
  }

  .permission-team .navigation {
    justify-content: space-between;
  }

  .permission-team .team-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}


.s10{
  border-top: 1px solid #f2f2f2;
  padding: 79px 0 82px;
  .logos-wrap{
    display: flex;
    justify-content: space-around;
    .logo{
      img{
        max-height: 48px;
        object-fit: contain;
      }
    }
  }
}
.s11{
  padding: 84px 0 159px;
  background-image: url("./assets/timeline-bg.png");
  background-size: cover;
  text-align: center;
  position: relative;
  .title-block{
    color: #0C0C0C;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -1.2px;
    line-height: 44px;
    text-align: center;
    padding-bottom: 96px;
  }
  .time-line{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 10px;
      background-color: #ffffff;
      top: 46%;
    }
    .time-line-wrap{
      display: flex;
      flex-wrap: wrap;
      text-align: left;
      .time-line-block{
        width: 33.3%;
        position: relative;
        padding: 0 56px 0 21px;
        .dot{
          position: absolute;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #06AFF2;
          left: 0;
        }
        .title{
          color: #0D0D0D;
          font-family: Poppins;
          font-size: 21px;
          font-weight: bold;
          letter-spacing: -0.2px;
          line-height: 26px;
          padding-bottom: 14px;
        }
        .text-wrap{
          p{
            width: 208px;
            color: #0D0D0D;
            font-family: Poppins;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 24px;
            font-weight: 400;
            padding-bottom: 12px;
            position: relative;
            &::before{
              content: '';
              position: absolute;
              left: -21px;
              top: 8px;
              width: 15px;
              height: 11px;
              background-image: url("./assets/icons/CheckMark.svg");
            }
          }
        }
      }
      .item-order-1{
        order: 1;
        padding-bottom: 78px;
        .dot{
          bottom: -15px;
        }
      }
      .item-order-2{
        order: 2;
        padding-bottom: 78px;
        .dot{
          bottom: -15px;
        }
      }
      .item-order-3{
        order: 3;
        padding-bottom: 78px;
        .dot{
          bottom: -15px;
        }
      }
      .item-order-4{
        order: 4;
        margin-left: 130px;
        padding-top: 78px;
        .dot{
          top: -15px;
        }
      }
      .item-order-5{
        order: 5;
        padding-top: 78px;
        .dot{
          top: -15px;
        }
      }
      .item-order-6{
        order: 6;
        margin-right: -130px;
        padding-top: 78px;
        .dot{
          top: -15px;
        }
      }
    }
  }
  .img-time-line {
    position: absolute;
    right: 0;
    bottom: -160px;
  }
}
.s12{
  padding: 186px 0 66px;
  .title-block{
    color: #0C0C0C;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -1.2px;
    line-height: 44px;
    text-align: center;
    padding-bottom: 44px;
  }
  .home-col-wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: inherit;
    grid-row-gap: 44px;
    @include respond-to(tablet) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include respond-to(desktop) {
      grid-template-columns: repeat(3, 1fr);
    }
    .card-home{
      padding: 24px 24px 16px;
      display: block;
      &:hover{
        box-shadow: 0 13px 36px 7px rgba(0,0,0,0.12);
        transition: 0.5s;
      }
      .img-wrap {
        width: 100%;
        max-height: 50px;
        margin-bottom: 19px;
        img{
          max-height: 50px;
          object-fit: contain;
        }
      }
      .text{
        width: 100%;
        color: #0D0D0D;
        font-family: Poppins;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
        font-weight: 400;
      }
      .blog-card-link {
        display: flex;
        color: #0D0D0D;
        font-family: Poppins;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: 16px;
        &:hover{
          text-decoration: none;
        }
        img{
          margin-left: 4px;
          margin-top: 1px;
        }
      }
    }
  }
  .buttons {
    text-align: center;
    a {
      color: #FFFFFF;
      font-family: Poppins;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 20px;
      text-align: center;
      border-radius: 18px;
      background-color: #07AFF2;
      box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
      cursor: pointer;
      box-sizing: border-box;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      z-index:3;
      height: 38px;
      width: 200px;
      padding-top: 9px;
      margin-top: 91px;
    }
  }
}